{% extends "mainpage/html/base.html" %}

{% block content %}

<h1>Всем привет!</h1>
<p class="lead">Меня зовут Андрей Куба. Вы попали на мой лендинг, который сделан в рамках Творческого задания на
    Вступительном задании в Яндекс Интенсивы.</p>
<p class="lead">
    Для удобства я разделил информацию по разделам.
</p>
<p class="lead">
    Также я подготовил видео, в котором разобрал свой сайт. Оно доступно по
    <a href="https://vk.com/sollmater" class="text-white">вот этой</a> ссылке
</p>
<h1>Кто я такой?</h1>
<p class="lead" align="left">Как я уже сказал, меня зовут Андрей Куба
</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>
<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>

{% endblock %}