{% extends "mainpage/html/base.html" %}
{% load static%}

{% block content %}

<h1 align="center" xmlns="http://www.w3.org/1999/html">Всем привет!</h1>

<p class="lead">Меня зовут Андрей Куба. Вы попали на мой лендинг, который сделан в рамках Творческого задания на
    Вступительном задании в Яндекс Интенсивы.</p>
<p class="lead">
    Также я подготовил видео, в котором разобрал свой сайт. Оно доступно по
    <a href="https://youtu.be/h1ANGf26-XY" class="text-white">вот этой</a> ссылке
</p>

<h1 align="center">Кто я такой?</h1>

<p class="lead">Как я уже сказал, меня зовут Андрей Куба.</p>

<img src="{% static 'mainpage/images/kuba1.jpg' %}" class="img-fluid" alt="тут должна быть картинка, но она пропала">
<p class="lead"></p>
<img src="{% static 'mainpage/images/kuba2.png' %}" class="img-fluid" alt="тут должна быть картинка, но она пропала">

<p class="lead">Я из города Санкт-Петербург. Мне 15 лет, учусь в 10 классе. С программированием я познакомился в 7
    классе,
    когда папа познакомил меня с платами Arduino. После я познакомился с HTML и CSS, проходил небольшие курсы по
    Java.</p>
<p class="lead">В 8 классе я на уроках информатики начал активно изучать Python. И вот начался мой самостоятельный путь
    изучения Python. Я начал проходить курсы на Stepik, смотреть уроки на YouTube.
    Также я практиковал свои навыки на платформе <a href="https://codewars.com" class="text-white">CodeWars</a></p>

<h1 align="center">Мой опыт в разработке</h1>
<p class="lead">Мой опыт в разработке довольно небольшой, однако у меня есть уже несколько проектов.</p>
<ul style="font-size: 20px">
    <li>Создание приложения - домашней библиотеки на Python</li>
    <li>Практика создания чатов в Telegram</li>
    <li>Для участия в конкурсе Большая Перемена 2021 создал <a href="https://vk.com/services?w=app7896298_344574162"
                                                               class="text-white">приложение</a>
        для волонтеров на базе Мини Приложений Вконтакте
        (JavaScript и React)
    </li>
    <li>Создавал <a href="https://github.com/sollmater12/TimeLoop" class="text-white">игры</a> на PyGame</li>
</ul>

<h1 align="center">Участие в конкурсах и олимпиадах</h1>
<p class="lead">Уже несколько лет я активно участвую во множестве конкурсов и олимпиад:</p>
<ul style="font-size: 20px">
    <li>Участвую в конкурсе Большая Перемена</li>
    <li>Участвую в Национальной Технологической Олимпиаде по профилям Информационной Безопасности и Искусственного
        Интеллекта
    </li>
    <li>Хожу на стажировки в ведущие ВУЗЫ страны (ИТМО, Политех, ЛЭТИ)</li>
    <li>Проходил курсы по программированию на платах Arduino</li>
</ul>

<img src="{% static 'mainpage/images/kuba3.jpg' %}" class="img-fluid" alt="тут должна быть картинка, но она пропала">

<h1 align="center">Мои планы на будущее</h1>
<p class="lead">В течение следующих 2 лет мне хочется больше углубляться в профессиональной среду, развиваться и
    принимать участие в промышленной разработке.</p>
<p class="lead">После прохождения Интенсива Академии Яндекса я хочу поступить на Летнюю Школу Яндекса, а после принять
    участие в стажировке Яндекса.</p>
<p class="lead">Также я планирую поступить в ведущие технические ВУЗЫ страны - ИТМО, Политех, ЛЭТИ.</p>

<h2 align="center">Благодарю за внимание! Всем пока! &#9995; &#9996;</h2>
{% endblock %}